<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
<ion-header class="ion-no-border">
	<ion-toolbar>
    <div class="back-circle"></div>
		<ion-title class="ion-text-center custom-font">Anciennes activités</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content fullscreen="true" class="ion-padding" >

  <div class="transparentWrapper ">     
    <h5 class="profileName ion-text-center custom-font"> {{prenom}} {{nom | uppercase}}</h5>
  </div> 

<form  [formGroup]="formMonth" >
  <ion-item class="transparentDiv" >
    <ion-label>Sélectionner un moi</ion-label>
    <ion-select  [(ngModel)]="monthChoisi" formControlName="monthChoisi" value="" okText="Okay" cancelText="Dismiss" interface="popover" class="custom-options" (ngModelChange)="onChange($event)">
      <ion-select-option  *ngFor="let month of months " value={{month}} >{{month}}</ion-select-option>
    </ion-select>
  </ion-item>
</form>




<ion-item  *ngFor="let activity of activities " class="transparentDiv" >
  <ion-label>
  
    <p>
      <ion-icon name="timer"></ion-icon> <a class="link">{{activity.timestamp}}</a> 
    </p>

      <div  *ngIf="activity.type==='IN'" class="flex-button">
        <P>IN</P>
   </div>
                                                                             
      <div *ngIf="activity.type==='OUT'" class="flex-button">
        <P>OUT</P>
   </div>
                                      
  </ion-label>
             
</ion-item>






</ion-content>
<app-tabscomponent></app-tabscomponent>