<link
  href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
  rel="stylesheet"
/>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar
      showcancelbutton=""
      (change)="filterList($event)"
      (ionInput)="filterList($event)"
      (ionClear)="onCancel()"
      (ionChange)="filterList($event)"
      animated="true"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="modalDiv">
    <ion-item *ngFor="let user of Users " class="glassDivAdd">
      <ion-label>
        <h5 class="userName">
          <ion-icon name="person"></ion-icon>
          <a class="linkUnderlined" (click)="profileUser(user.carteId)"
            ><strong>{{user.prenom}} {{user.nom | uppercase}}</strong></a
          >
        </h5>
        <p><ion-icon name="briefcase"></ion-icon> {{user.poste}}</p>
        <p>
          <ion-toggle
            checked
            color="warning"
            (ionChange)="modifierAuthorised(user.carteId,user.authorised)"
            checked="{{user.authorised}}"
          ></ion-toggle>
        </p>
      </ion-label>

      <div class="item-note" item-end>
        <p>
          <button class="buttonIcon" clear (click)="profileUser(user.carteId)">
            <ion-icon
              name="create"
              color="warning"
              style="zoom: 1.75"
            ></ion-icon>
          </button>
        </p>
        <p>
          <button
            class="buttonIcon"
            clear
            (click)="supprimerUser(user.carteId)"
          >
            <ion-icon
              name="trash"
              color="warning"
              style="zoom: 1.75"
            ></ion-icon>
          </button>
        </p>
      </div>
    </ion-item>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="adduserPage()" id="btnProceed">
      <ion-icon name="add" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<app-tabscomponent></app-tabscomponent>
