<link
  href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
  rel="stylesheet"
/>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">Déconnexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="container-form-btn centerDeconnexion">
    <button (click)="SignOut()" class="form-btn custom-font">Sign Out</button>
  </div>
</ion-content>
<app-tabscomponent></app-tabscomponent>
