<ion-footer>
  <ion-toolbar>
  	<div class="tabs">
			<ion-button [routerLink]="['/lastactivity/']" routerDirection="root" class="buttonIcon" fill="solid" color="orange">
				<ion-icon   name="timer" color="warning" style="zoom:1.5"></ion-icon>
			</ion-button>
      <ion-button  [routerLink]="['/lastactivity/']" routerDirection="root" class="buttonIcon"  class="buttonIcon" fill="solid" color="jaune" >
				<ion-icon name="archive" color="warning" style="zoom:1.5"></ion-icon>
			</ion-button>
      <ion-button [routerLink]="['/users/']" routerDirection="root" class="buttonIcon"  class="buttonIcon" fill="solid" color="jaune">
				<ion-icon name="people" color="warning" style="zoom:1.5"></ion-icon>
			</ion-button>
		<ion-button [routerLink]="['/signout/']" routerDirection="root" class="buttonIcon"  class="buttonIcon" fill="solid" color="jaune">
			<ion-icon name="log-out" color="warning" style="zoom:1.5"></ion-icon> 
		</ion-button>
	</div>
  </ion-toolbar>
</ion-footer>