.custom-font {
    font-family: 'Josefin Sans', sans-serif;
  }
  
  
  ion-toolbar {
    --background: transparent;
    
    ion-searchbar{
      --background: transparent;
      --border-radius: 15px;
        max-width: 900px;
        margin: auto;

    }

    ion-title {
      padding: 20px 0 46px 0;
      font-weight: 900;
    }
    .activityBack{
      background-color :#EBAB81;
      border-radius: 15%;
      height:fit-content;
      color:#FFFFFF;
    }

    .tabs{
      display:flex;
      justify-content: center;
      margin-bottom: 5%;
    
      
    }

    .buttonTab{
      justify-content: center;
      border-radius: 15%;
      padding: auto;
      background-color: #d17941;
      margin: auto;
      border-style: solid black;
      
    }



    p {
      padding: 40px 0 20px 0;
      font-weight: 600;
    }
  
    .back-circle {
      z-index: -1;
      width: 200px;
      height: 200px;
      background: #EBAB81;
      position: absolute;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 0;
    
  
    }
  
  
  }
  
  ion-content {
  
    --background: rgba(245, 215, 196, .8);
  
    .back-blob {
      z-index: -1;
      width: 600px;
      position: absolute; 
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 900px;
      
    }
    .my-alert-class .alert-wrapper {
      --background: rgb(235, 171, 129);

    }
  
  
    form {
      margin-top: 7%;
    }
  
    .wrap-input {
      background-color: rgba(255, 255, 255, .8);
      border-radius: 20px;
      margin-bottom: 26px;
      box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);
      max-width: 900px;
    }
  
    .wrap-inputUseradd {
      background-color: rgba(235, 171, 129, 0.3);
      border-radius: 20px;
      margin-bottom: 10px;
      box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);
      max-width: 900px;
      box-shadow: none;
   
      color: #493838; 
      backdrop-filter: blur(8px);
      margin: auto;
      margin-bottom: 3%;
      max-width: 900px;
      display: flex;
    }

   

    .input {
      display: block;
      width: 100%;
      background: transparent;
      font-family: Josefin Sans;
      font-size: 16px;
      line-height: 1.2;
      border: none;
      outline: none;
      height: 46px;
      padding: 0 20px 0 23px; 
      max-width: 900px;
    }
  

    .container-form-btn {
      display: flex;
      justify-content: center;
    }
  
    .form-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      min-width: 160px;
      height: 42px;
      background-color: #d17941;
      border-radius: 20px;
      font-size: 14px;
      color: #FFFFFF;
      text-transform: uppercase;
      padding-top: 5px;
      transition: all 0.4s;
      box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
    }

   
  
  .linkUnderlined{
    text-decoration: underline;
    color : #493838;
  }

  .link{
    color : #493838;
    
  }


  #btnProceed{

    --ion-color-base: #d17941 !important; 
  }

  #fabDanger{

    --ion-color-base: red !important; 
  }

  .glassDiv{
    box-shadow: none;
    border-radius: 18px;
    color: #493838;
    background-color: rgba(255, 255, 255, .3);  
    backdrop-filter: blur(8px);
    margin: auto;
    margin-bottom: 10%;
    max-width: 900px;

    display: flex;
   
  }


  .glassDivAdd{
    box-shadow: none;
    border-radius: 18px;
    color: #493838;
    background-color: rgba(255, 255, 255, .3);  
    backdrop-filter: blur(8px);
    margin: auto;
    margin-bottom: 0%;
    max-width: 900px;
    display: flex;

  }

  .transparentDiv{
    box-shadow: none;
    border-radius: 18px;
    color: #493838;
    background-color: rgba(255, 255, 255, .7);  
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    max-width: 700px;
    
  }


  .transparentWrapper{

    background-color: rgb(209, 121, 65) !important;
    display: flex;
    justify-content: center;
    border-radius: 18px;
    
 
  }
 

}

  ion-item{
    --background: transparent !important;
 
  }

  ion-label{
    font-family: Josefin Sans !important;
    color: grey !important;
  }

  ion-toggle {
    --background: #FFF;
    --background-checked: rgb(235, 171, 129);;
  
    --handle-background: rgb(235, 171, 129) !important;
    --handle-background-checked: rgb(235, 171, 129) ;
  }
  

ion-item{
  .userName{
    color: #493838;
  } 
}

.buttonIcon{
  background-color: transparent !important;
  justify-content: center;
  border-radius: 15%;
  padding: auto;
  margin: auto;
  border-style: solid black;
}

ion-footer{
  ion-toolbar{
    background-color:rgba(245, 215, 196);
  }
}