<link
  href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
  rel="stylesheet"
/>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">Ajouter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <form [formGroup]="formUserAdd">
    <div class="wrap-inputUseradd">
      <input
        class="input"
        type="text"
        formControlName="nom"
        [(ngModel)]="nom"
        placeholder="Nom"
      />
    </div>

    <div class="wrap-inputUseradd">
      <input
        class="input"
        type="text"
        formControlName="prenom"
        [(ngModel)]="prenom"
        placeholder="Prénom"
      />
    </div>

    <div class="wrap-inputUseradd">
      <input
        class="input"
        type="text"
        formControlName="carteId"
        [(ngModel)]="carteId"
        placeholder="ID Carte"
      />
    </div>

    <div class="wrap-inputUseradd">
      <input
        class="input"
        type="text"
        formControlName="poste"
        [(ngModel)]="poste"
        placeholder="Poste"
      />
    </div>

    <ion-item class="wrap-inputUseradd">
      <ion-label>Autorisé</ion-label>
      <ion-toggle
        checked
        color="warning"
        formControlName="autorised"
        [(ngModel)]="autorised"
        checked="{{checkedState}}"
      ></ion-toggle>
    </ion-item>

    <div class="container-form-btn">
      <button class="form-btn custom-font" (click)="ajouter()">Ajouter</button>
    </div>
  </form>
</ion-content>
<app-tabscomponent></app-tabscomponent>
