
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

<ion-content fullscreen="true" class="ion-padding" >

  <svg class="back-blob ion-padding"  viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path fill="#EBAB81" d="M14,-22.4C22.6,-13,37.1,-14.9,38.4,-12.2C39.7,-9.5,27.7,-2.2,20.6,2.7C13.5,7.5,11.3,10,8.6,22.2C6,34.3,3,56.2,-0.5,56.9C-4,57.6,-8,37,-12.1,25.4C-16.3,13.7,-20.5,10.9,-32.8,3.5C-45.1,-3.9,-65.4,-15.9,-68.2,-26.8C-71,-37.7,-56.4,-47.6,-42.1,-55.2C-27.8,-62.8,-13.9,-68.2,-5.6,-60.5C2.7,-52.7,5.4,-31.9,14,-22.4Z" transform="translate(100 100)" />
  </svg>

 
    <div class="transparentWrapper ">     
      <h5 class="profileName ion-text-center custom-font"> {{User.prenom}} {{User.nom | uppercase}}</h5>
    </div> 

  
    

  
    <div class="transparent">
  
    <ion-segment  scrollable [(ngModel)]="timeline" color="warning" (ionChange)="segmentChanged(timeline)"  scrollable>
      <ion-segment-button value="globe">
       
        <ion-icon name="globe"  color="item"></ion-icon> 
     
      </ion-segment-button>

      <ion-segment-button value="create">
        <ion-icon name="create" color="item"></ion-icon>
        
      </ion-segment-button>

      <ion-segment-button value="trash">
        <ion-icon name="trash" color="item"></ion-icon> 
        
      </ion-segment-button>

      
    </ion-segment>
  </div> 
<BR>
      
  
  
          <div [ngSwitch]="timeline" >
          
          
            <div *ngSwitchCase="'globe'" class="wellwhite" >
         


              <div *ngIf="activitiees">
                <ion-toolbar>
                <div class="tabs"> 

                  <button class="buttonIcon form-btn "  *ngIf="activities.length !== 0" (click)="AnciennesActivitesPage(User.carteId,User.nom,User.prenom)"><strong></strong> <ion-icon name="arrow-back-circle" color="item" style="zoom:1.5"></ion-icon>Plus anciens  </button>            
                  <button class="buttonIcon form-btn " *ngIf="activitiees.length !== 0 && activities.length !== 0"  (click)="StatisticsPage(User.carteId,User.nom,User.prenom)"><strong></strong> Statistiques <ion-icon name="arrow-forward-circle" color="item" style="zoom:1.5"></ion-icon></button>
                 
                </div></ion-toolbar>
             
                <div *ngIf="activities.length == 0 && activitiees.length == 0 " >

                  <div class="transparentDiv ">     
                  <h5 class="profileName ion-text-center custom-font"> Pas encore d'activités à afficher</h5>
                  </div>
                
                  <div *ngIf="activitiees.length == 0 && activities.length !== 0 " >
                    <div class="transparentDiv ">     
                      <h5 class="profileName ion-text-center custom-font"> Pas encore d'activités à afficher ce moi</h5>
                      </div>
                  </div>  
  
                </div>
                
                <ion-item  *ngFor="let activity of activitiees " class="transparentDiv" >
                  <ion-label>
                  
                    <p>
                      <ion-icon name="timer"></ion-icon> <a class="link">{{activity.timestamp}}</a> 
                    </p>

                      <div  *ngIf="activity.type==='IN'" class="flex-button">
                        <P>IN</P>
                   </div>
                                                                                             
                      <div *ngIf="activity.type==='OUT'" class="flex-button">
                        <P>OUT</P>
                   </div>
                                                      
                  </ion-label>
                             
                </ion-item>
              </div>

                <div *ngIf="!activitiees">

                    <ion-item class="transparentDiv" >
                      <ion-thumbnail slot="start">
                        <ion-skeleton-text animated></ion-skeleton-text>
                      </ion-thumbnail>
                      <ion-label>
                        <h3>
                          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h3>
                        <p>
                          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                        <p>
                          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                      </ion-label>
                    </ion-item> 
                    <ion-item class="transparentDiv" >
                      <ion-thumbnail slot="start">
                        <ion-skeleton-text animated></ion-skeleton-text>
                      </ion-thumbnail>
                      <ion-label>
                        <h3>
                          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h3>
                        <p>
                          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                        <p>
                          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                      </ion-label>
                    </ion-item>  
                    <ion-item class="transparentDiv" >
                      <ion-thumbnail slot="start">
                        <ion-skeleton-text animated></ion-skeleton-text>
                      </ion-thumbnail>
                      <ion-label>
                        <h3>
                          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h3>
                        <p>
                          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                        <p>
                          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                      </ion-label>
                    </ion-item>  
                    <ion-item class="transparentDiv" >
                      <ion-thumbnail slot="start">
                        <ion-skeleton-text animated></ion-skeleton-text>
                      </ion-thumbnail>
                      <ion-label>
                        <h3>
                          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h3>
                        <p>
                          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                        <p>
                          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                      </ion-label>
                    </ion-item>  
                    <ion-item class="transparentDiv" >
                      <ion-thumbnail slot="start">
                        <ion-skeleton-text animated></ion-skeleton-text>
                      </ion-thumbnail>
                      <ion-label>
                        <h3>
                          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h3>
                        <p>
                          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                        <p>
                          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                      </ion-label>
                    </ion-item>  
                    
                        <ion-item class="transparentDiv" >
                      <ion-thumbnail slot="start">
                        <ion-skeleton-text animated></ion-skeleton-text>
                      </ion-thumbnail>
                      <ion-label>
                        <h3>
                          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h3>
                        <p>
                          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                        <p>
                          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                      </ion-label>
                    </ion-item> 
                 
                </div>
   
                </div>
                <div *ngSwitchCase="'trash'" class="wellwhite" >
               
                  <div>
                  
                  
                 <h2>                                                  
                  <ion-fab vertical="center" horizontal="center" slot="fixed" >
                  <ion-fab-button (click)="supprimerUser()" color="warning" id="btnProceed">
                    <ion-icon name="trash" color="light" ></ion-icon>
                  </ion-fab-button>
                </ion-fab>
                  
                 </h2>
                   
                    </div>
        
                  </div>

  


                <div *ngSwitchCase="'create'" >
             
                   
                     <ion-item  class="transparentDiv" >
                      <ion-label>                      
                        <p>
                         Nom
                        </p>  
                        <h5 class="userName">
                           <strong>{{User.nom | uppercase}} </strong>
                        </h5>                  
                      </ion-label>
                      <div class="item-note" item-end>
                        <p>
                          <button class="buttonIcon" clear (click)="EditNomClicked()">
                            <ion-icon name="create-outline" color='jaune' style="zoom:1.75"></ion-icon>
                          </button>
                        </p> 


                        <form [formGroup]="formNomModify" *ngIf="editNomClicked===true">
                        <div class="wrap-inputUseradd">
                          <input class="input" type="text" formControlName="nom" [(ngModel)]="nom" placeholder="Nom">
                        </div>
                        <div class="container-form-btn">
        
                          <button class="form-btnM custom-font" (click)="modifierNom()">
                          Enregister
                          </button>
                          <button class="form-btnA custom-font" (click)="AnnulerEditNomClicked()">
                           Annuler
                            </button>
                        </div> 
                      </form>





                        </div>
                      </ion-item>
                      <ion-item  class="transparentDiv" >
                        <ion-label>                      
                          <p>
                         Prénom
                          </p>  
                          <h5 class="userName">
                           <strong>{{User.prenom}} </strong>
                          </h5>                   
                        </ion-label>
                        <div class="item-note" item-end>
                          <p>
                            <button class="buttonIcon" clear (click)="EditPrenomClicked()">
                              <ion-icon name="create-outline" color='jaune' style="zoom:1.75"></ion-icon>
                            </button>
                          </p>
                          
                          
                          <form [formGroup]="formPrenomModify" *ngIf="editPrenomClicked===true">
                            <div class="wrap-inputUseradd">
                              <input class="input" type="text" formControlName="prenom" [(ngModel)]="prenom" placeholder="Prénom">
                            </div>
                            <div class="container-form-btn">
            
                              <button class="form-btnM custom-font" (click)="modifierPrenom()">
                              Enregister
                              </button>
                              <button class="form-btnA custom-font" (click)="AnnulerEditPrenomClicked()">
                               Annuler
                                </button>
                            </div> 
                          </form>  



                          </div>
                        </ion-item>
                        <ion-item  class="transparentDiv" >
                          <ion-label>                      
                            <p>
                             Poste
                            </p>  
                            <h5 class="userName">
                               <strong>{{User.poste}} </strong>
                            </h5>                   
                          </ion-label>
                          <div class="item-note" item-end>
                            <p>
                              <button class="buttonIcon" clear (click)="EditPosteClicked()">
                                <ion-icon name="create-outline" color='jaune' style="zoom:1.75"></ion-icon>
                              </button>
                            </p>  
                            
                            <form [formGroup]="formPosteModify" *ngIf="editPosteClicked===true">
                              <div class="wrap-inputUseradd">
                                <input class="input" type="text" formControlName="poste" [(ngModel)]="poste" placeholder="Poste">
                              </div>
                              <div class="container-form-btn">
              
                                <button class="form-btnM custom-font" (click)="modifierPoste()">
                                Enregister
                                </button>
                                <button class="form-btnA custom-font" (click)="AnnulerEditPosteClicked()">
                                 Annuler
                                  </button>
                              </div> 
                            </form>  



                            </div>
                          </ion-item>
                          <ion-item  class="transparentDiv" >
                            <ion-label>                      
                              <p>
                               Carte ID
                              </p>  
                              <h5 class="userName">
                                 <strong>{{User.carteId}} </strong>
                              </h5>                 
                            </ion-label>
                            <div class="item-note" item-end>
                              <p>
                                <button class="buttonIcon" clear (click)="EditCarteIdClicked()">
                                  <ion-icon name="create-outline" color='jaune' style="zoom:1.75"></ion-icon>
                                </button>
                              </p>  
                              
                                                     
                            <form [formGroup]="formCarteIdModify" *ngIf="editCarteIdClicked===true">
                              <div class="wrap-inputUseradd">
                                <input class="input" type="text" formControlName="carteID" [(ngModel)]="carteID" placeholder="Carte ID">
                              </div>
                              <div class="container-form-btn">
              
                                <button type ="submit" class="form-btnM custom-font" (click)="modifierCarteId()">
                                Enregister
                                </button>
                                <button class="form-btnA custom-font" (click)="AnnulerEditCarteIdClicked()">
                                 Annuler
                                  </button>
                              </div> 
                            </form>  
 

                              </div>
                            </ion-item>
                            <ion-item  class="transparentDiv" >                                                                                                                    <ion-label>                      
                                  <p >
                                   Autorisé
                                  </p>  
                                  <h5 *ngIf="User.authorised===true" class="userName">
                                     <strong>Yes </strong>
                                  </h5> 
                                  
                                  <h5 *ngIf="User.authorised===false" class="userName">
                                    <strong>No </strong>
                                 </h5> 
                                 
                                 <ion-toggle  color="warning"  checked="{{User.authorised}}"   ></ion-toggle>
                    
                                </ion-label>
                                                       
                              <div class="item-note" item-end>
                                <p>
                                  <button class="buttonIcon" (click)="EditAuthorisedClicked()">
                                    <ion-icon name="create-outline" color='jaune' style="zoom:1.75"></ion-icon>
                                  </button>
                                </p> 
                                     
                                <form [formGroup]="formAuthorisedModify" *ngIf="editAuthorisedClicked===true">
                               
                                    <ion-toggle  color="warning" checked="{{User.authorised}}" formControlName="authorised" [(ngModel)]="authorised" ></ion-toggle>     
                                  <div class="container-form-btn">
                  
                                    <button type ="submit" class="form-btnM custom-font" (click)="modifierAuthorised()">
                                    Enregister
                                    </button>
                                    <button class="form-btnA custom-font" (click)="AnnulerEditAuthorisedClicked()">
                                     Annuler
                                      </button>
                                  </div> 
                                </form>     

                                </div>
                      </ion-item>

                    </div>  

            </div> 
  
   
  
  </ion-content>

  <app-tabscomponent></app-tabscomponent>