<link
  href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
  rel="stylesheet"
/>

<ion-content fullscreen="true" class="ion-padding">
  <div class="transparentWrapper">
    <div class="cardPass">
      <img alt="logo" height="60" width="90" src="../../assets/card.png" />
      <h5 class="">{{User.carteId}}</h5>
      <h5 class="profileName custom-font">
        {{User.prenom}} {{User.nom | uppercase}}
      </h5>
    </div>

    <ion-fab vertical="start" horizontal="start" slot="fixed">
      <ion-fab-button
        (click)="StatisticsPage(User.carteId , User.nom, User.prenom)"
        color="warning"
        id="btnProceed"
      >
        <ion-icon name="bar-chart" color="light"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <div class="transparent">
    <ion-segment
      scrollable
      [(ngModel)]="timeline"
      color="warning"
      (ionChange)="segmentChanged(timeline)"
      scrollable
    >
      <ion-segment-button value="globe">
        <ion-icon name="globe" color="item"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="create">
        <ion-icon name="create" color="item"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>
  <br />

  <div [ngSwitch]="timeline">
    <div *ngSwitchCase="'globe'">
      <div *ngIf="activitiees">
        <div *ngIf="activities.length == 0 && activitiees.length == 0 ">
          <h5 class="ion-text-center custom-font">
            Aucune activité à afficher
          </h5>

          <div *ngIf="activitiees.length == 0 && activities.length !== 0 ">
            <h5 class="ion-text-center custom-font">
              Aucune activité à afficher
            </h5>
          </div>
        </div>
        <div class="transparentDiv">
          <ion-fab vertical="start" horizontal="end" slot="fixed">
            <ion-fab-button
              (click)="showDate()"
              color="warning"
              id="btnProceedd"
            >
              <ion-icon name="today-outline" color="light"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>

        <form [formGroup]="formMonth">
          <ion-item class="transparentDiv">
            <ion-label>
              <ion-icon name="caret-down-outline" color="item"></ion-icon
              >Sélectionner un moi
            </ion-label>
            <ion-select
              [(ngModel)]="monthChoisi"
              formControlName="monthChoisi"
              value=""
              okText="Okay"
              cancelText="Dismiss"
              interface="popover"
              class="custom-options"
              (ngModelChange)="onChange($event)"
            >
              <ion-select-option *ngFor="let month of months " value="{{month}}"
                >{{month}}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="filtre">
                    <button (click)="showPeriodDebut()" class="form-btnM">
                      <ion-icon name="calendar-outline" color="item"></ion-icon>
                      Début
                    </button>
                  </div></ion-col
                >
                <ion-col>
                  <div class="filtre">
                    <button (click)="showPeriodFin()" class="form-btnM">
                      <ion-icon name="calendar-outline" color="item"></ion-icon>
                      Fin
                    </button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </form>

        <ion-item *ngFor="let activity of activitiees " class="transparentDiv">
          <ion-label>
            <p>
              <ion-icon name="timer"></ion-icon>
              <a class="link">{{activity.timestamp}}</a>
            </p>

            <div *ngIf="activity.type==='IN'" class="flex-button">
              <p>IN</p>
            </div>

            <div *ngIf="activity.type==='OUT'" class="flex-button">
              <p>OUT</p>
            </div>
          </ion-label>
        </ion-item>
      </div>

      <div *ngIf="!activitiees">
        <ion-item class="transparentDiv">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text
                animated
                style="width: 50%"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                animated
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                animated
                style="width: 60%"
              ></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item class="transparentDiv">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text
                animated
                style="width: 50%"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                animated
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                animated
                style="width: 60%"
              ></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item class="transparentDiv">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text
                animated
                style="width: 50%"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                animated
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                animated
                style="width: 60%"
              ></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item class="transparentDiv">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text
                animated
                style="width: 50%"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                animated
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                animated
                style="width: 60%"
              ></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item class="transparentDiv">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text
                animated
                style="width: 50%"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                animated
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                animated
                style="width: 60%"
              ></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>

        <ion-item class="transparentDiv">
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text
                animated
                style="width: 50%"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                animated
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                animated
                style="width: 60%"
              ></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </div>
    </div>

    <div *ngSwitchCase="'create'">
      <ion-item class="transparentDiv">
        <ion-label>
          <p>Nom</p>
          <h5 class="userName">
            <strong>{{User.nom | uppercase}} </strong>
          </h5>
        </ion-label>
        <div class="item-note" item-end>
          <p>
            <button class="buttonIcon" clear (click)="EditNomClicked()">
              <ion-icon
                name="create-outline"
                color="jaune"
                style="zoom: 1.75"
              ></ion-icon>
            </button>
          </p>

          <form [formGroup]="formNomModify" *ngIf="editNomClicked===true">
            <div class="wrap-inputUseradd">
              <input
                class="input"
                type="text"
                formControlName="nom"
                [(ngModel)]="nom"
                placeholder="Nom"
              />
            </div>
            <div class="container-form-btn">
              <button class="form-btnM custom-font" (click)="modifierNom()">
                Enregister
              </button>
              <button
                class="form-btnA custom-font"
                (click)="AnnulerEditNomClicked()"
              >
                Annuler
              </button>
            </div>
          </form>
        </div>
      </ion-item>
      <ion-item class="transparentDiv">
        <ion-label>
          <p>Prénom</p>
          <h5 class="userName">
            <strong>{{User.prenom}} </strong>
          </h5>
        </ion-label>
        <div class="item-note" item-end>
          <p>
            <button class="buttonIcon" clear (click)="EditPrenomClicked()">
              <ion-icon
                name="create-outline"
                color="jaune"
                style="zoom: 1.75"
              ></ion-icon>
            </button>
          </p>

          <form [formGroup]="formPrenomModify" *ngIf="editPrenomClicked===true">
            <div class="wrap-inputUseradd">
              <input
                class="input"
                type="text"
                formControlName="prenom"
                [(ngModel)]="prenom"
                placeholder="Prénom"
              />
            </div>
            <div class="container-form-btn">
              <button class="form-btnM custom-font" (click)="modifierPrenom()">
                Enregister
              </button>
              <button
                class="form-btnA custom-font"
                (click)="AnnulerEditPrenomClicked()"
              >
                Annuler
              </button>
            </div>
          </form>
        </div>
      </ion-item>
      <ion-item class="transparentDiv">
        <ion-label>
          <p>Poste</p>
          <h5 class="userName">
            <strong>{{User.poste}} </strong>
          </h5>
        </ion-label>
        <div class="item-note" item-end>
          <p>
            <button class="buttonIcon" clear (click)="EditPosteClicked()">
              <ion-icon
                name="create-outline"
                color="jaune"
                style="zoom: 1.75"
              ></ion-icon>
            </button>
          </p>

          <form [formGroup]="formPosteModify" *ngIf="editPosteClicked===true">
            <div class="wrap-inputUseradd">
              <input
                class="input"
                type="text"
                formControlName="poste"
                [(ngModel)]="poste"
                placeholder="Poste"
              />
            </div>
            <div class="container-form-btn">
              <button class="form-btnM custom-font" (click)="modifierPoste()">
                Enregister
              </button>
              <button
                class="form-btnA custom-font"
                (click)="AnnulerEditPosteClicked()"
              >
                Annuler
              </button>
            </div>
          </form>
        </div>
      </ion-item>
      <ion-item class="transparentDiv">
        <ion-label>
          <p>Carte ID</p>
          <h5 class="userName">
            <strong>{{User.carteId}} </strong>
          </h5>
        </ion-label>
        <div class="item-note" item-end>
          <p>
            <button class="buttonIcon" clear (click)="EditCarteIdClicked()">
              <ion-icon
                name="create-outline"
                color="jaune"
                style="zoom: 1.75"
              ></ion-icon>
            </button>
          </p>

          <form
            [formGroup]="formCarteIdModify"
            *ngIf="editCarteIdClicked===true"
          >
            <div class="wrap-inputUseradd">
              <input
                class="input"
                type="text"
                formControlName="carteID"
                [(ngModel)]="carteID"
                placeholder="Carte ID"
              />
            </div>
            <div class="container-form-btn">
              <button
                type="submit"
                class="form-btnM custom-font"
                (click)="modifierCarteId()"
              >
                Enregister
              </button>
              <button
                class="form-btnA custom-font"
                (click)="AnnulerEditCarteIdClicked()"
              >
                Annuler
              </button>
            </div>
          </form>
        </div>
      </ion-item>
      <ion-item class="transparentDiv">
        <ion-label>
          <p>Autorisé</p>
          <h5 *ngIf="User.authorised===true" class="userName">
            <strong>Yes </strong>
          </h5>

          <h5 *ngIf="User.authorised===false" class="userName">
            <strong>No </strong>
          </h5>

          <ion-toggle
            color="warning"
            checked="{{User.authorised}}"
          ></ion-toggle>
        </ion-label>

        <div class="item-note" item-end>
          <p>
            <button class="buttonIcon" (click)="EditAuthorisedClicked()">
              <ion-icon
                name="create-outline"
                color="jaune"
                style="zoom: 1.75"
              ></ion-icon>
            </button>
          </p>

          <form
            [formGroup]="formAuthorisedModify"
            *ngIf="editAuthorisedClicked===true"
          >
            <ion-toggle
              color="warning"
              checked="{{User.authorised}}"
              formControlName="authorised"
              [(ngModel)]="authorised"
            ></ion-toggle>
            <div class="container-form-btn">
              <button
                type="submit"
                class="form-btnM custom-font"
                (click)="modifierAuthorised()"
              >
                Enregister
              </button>
              <button
                class="form-btnA custom-font"
                (click)="AnnulerEditAuthorisedClicked()"
              >
                Annuler
              </button>
            </div>
          </form>
        </div>
      </ion-item>
      <ion-fab vertical="end" horizontal="end" slot="fixed">
        <ion-fab-button
          (click)="supprimerUser()"
          color="warning"
          id="btnProceed"
        >
          <ion-icon name="trash" color="light"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
</ion-content>

<app-tabscomponent></app-tabscomponent>
