<link
  href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
  rel="stylesheet"
/>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <img class="back-blob" src="../../assets/icon/logo.png" />
  <div class="ion-padding">
    <form [formGroup]="formLogin" class="formUserAdd">
      <div class="wrap-inputUseradd">
        <input
          class="input"
          type="text"
          formControlName="email"
          [(ngModel)]="email"
          placeholder="Email"
        />
      </div>

      <div class="wrap-inputUseradd">
        <input
          class="input"
          type="password"
          formControlName="password"
          [(ngModel)]="password"
          placeholder="Mot de passe"
        />
      </div>

      <div class="container-form-btn">
        <button class="form-btn custom-font" (click)="login(email,password)">
          Se connecter
        </button>
      </div>

      <p class="ion-text-center custom-font">
        Mot de passe oublié ?<a
          class="linkUnderlined"
          (click)="forgotPassword()"
          >Mettre à jour</a
        >
      </p>
    </form>
  </div>
</ion-content>
