<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

<ion-content fullscreen="true" class="ion-padding">


  <div class="transparentWrapper ">     
    <h5 class="profileName ion-text-center custom-font">  {{prenom}} {{nom | uppercase}}</h5>
  </div> 

      <ion-card class="transparentOrange">
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title>Nombre d'heures totales pendant l'année courante {{NumberOfHoursYear}} </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #barChart></canvas>
        </ion-card-content>
      </ion-card>
    

      <ion-card class="transparentOrange">
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title>statistiques du moi courant  </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #barChartMonth></canvas>
        </ion-card-content>
      </ion-card>


        <div class="transparent">
          
       <!-- <ion-grid>

          <ion-row>
            <ion-col >
             

              <div *ngIf="NumberOfHoursMonth==null">
                                    
                  <ion-item class="transparentDiv currentMonth">
                    <ion-thumbnail slot="start">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-thumbnail>
                    <ion-label>
                      <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                      </h3>
                      <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                      </p>
                      <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                      </p>
                    </ion-label>
                  </ion-item>                    
               
              </div>


              <div *ngIf="NumberOfHoursMonth" class="currentMonth">
                <h2 class="titleStatistics">Ce moi</h2>
                <h5 class="currentMonthHours">{{NumberOfHoursMonth}}<SUB>heures</SUB></h5>
                  
              </div>
            </ion-col>
          



            <ion-col >
             
              

              <div *ngIf="NumberOfHoursYear==null">
                               
                  <ion-item class="transparentDiv currentYear" >
                    <ion-thumbnail slot="start">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-thumbnail>
                    <ion-label>
                      <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                      </h3>
                      <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                      </p>
                      <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                      </p>
                    </ion-label>
                  </ion-item>                    
               
              </div>


              <div *ngIf="NumberOfHoursYear" class="currentYear">
                <h2 class="titleStatistics">Cette année</h2>
                <h5 class="currentYearHours">{{NumberOfHoursYear}}<SUB>heures</SUB></h5>
                            
              </div>
            </ion-col>
          </ion-row>

        </ion-grid>-->
      </div> 

                     

 <!-- <form class="ion-padding"[formGroup]="formYear" >                                                                     
    <ion-item class="transparentDiv">
      <ion-label position="stacked">Sélectionner un moi</ion-label>
      <ion-datetime  [pickerOptions]="PickerOptions" doneText="Confirmer" cancelText="Annuler" displayFormat="YYYY" min="2018" max={{nowYear}} value="" formControlName="year" [(ngModel)]="year" ></ion-datetime>
    </ion-item>

  <div class="container-form-btn">
    
    <button class="form-btn custom-font" (click)="getStatisticsYear(year)">
    Statistiques
    </button>
  </div>                       
</form> --> 

</ion-content>