<link
  href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
  rel="stylesheet"
/>

<ion-content fullscreen="true" class="ion-padding">
  <div class="transparentWrapper">
    <div class="cardPass">
      <img alt="logo" height="60" width="90" src="../../assets/card.png" />
      <h5 class="">{{carteId}}</h5>
      <h5 class="profileName custom-font">{{prenom}} {{nom | uppercase}}</h5>
    </div>
  </div>

  <form [formGroup]="formMonth">
    <ion-item class="transparentDiv">
      <ion-label>
        <ion-icon name="caret-down-outline" color="item"></ion-icon>Sélectionner
        un moi
      </ion-label>
      <ion-select
        [(ngModel)]="monthChoisi"
        formControlName="monthChoisi"
        value=""
        okText="Okay"
        cancelText="Dismiss"
        interface="popover"
        class="custom-options"
        (ngModelChange)="onChange($event)"
      >
        <ion-select-option *ngFor="let month of monthss " value="{{month}}">
          {{month}}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </form>
  <ion-card class="transparentOrange">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Statistiques du moi courant </ion-card-title>
      <ion-card-subtitle
        >Nombre d'heures totales pendant le moi courant<ion-icon
          name="timer-sharp"
        ></ion-icon>
        {{NumberOfHoursMonth}}</ion-card-subtitle
      >
      <ion-card-subtitle>
        Jours moins de huit heures de travail
        <ion-icon name="timer-sharp"></ion-icon>
        {{MoinsHuitMois}}</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <canvas #barChartMonth></canvas>
    </ion-card-content>
  </ion-card>
  <form [formGroup]="formYear">
    <ion-item class="transparentDiv">
      <ion-label>
        <ion-icon name="caret-down-outline" color="item"></ion-icon>Sélectionner
        une année
      </ion-label>
      <ion-select
        [(ngModel)]="anneeChoisie"
        formControlName="anneeChoisie"
        value=""
        okText="Okay"
        cancelText="Dismiss"
        interface="popover"
        class="custom-options"
        (ngModelChange)="onChangeAnnee($event)"
      >
        <ion-select-option value="{{anneeActuelle -1}}">
          {{anneeActuelle - 1}}</ion-select-option
        >
        <ion-select-option value="{{anneeActuelle -2}}">
          {{anneeActuelle-2}}</ion-select-option
        >
        <ion-select-option value="{{anneeActuelle -3}}"
          >{{anneeActuelle-3}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </form>
  <ion-card class="transparentOrange">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title> Statistiques de l'année courante </ion-card-title>
      <ion-card-subtitle
        >Nombre d'heures totales pendant l'année courante<ion-icon
          name="timer-sharp"
        ></ion-icon>
        {{NumberOfHoursYear}}</ion-card-subtitle
      >
      <ion-card-subtitle
        >Moyenne d'heures par moi<ion-icon name="timer-sharp"></ion-icon>
        {{MoyenneMois}}</ion-card-subtitle
      >
      <ion-card-subtitle
        >Moyenne d'heures par semaine<ion-icon name="timer-sharp"></ion-icon>
        {{MoyenneSemaine}}</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-tabscomponent></app-tabscomponent>
